html, body {
	width: 100%;
	height: 100%;	
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	background: #F2F2F2;
	color: #333333;
	margin-top: 40px;
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bangers', cursive;
	line-height: 1;
	margin: 0;
}

h1.title {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

h2 {
	font-size: 46px;
}

.h2.outer {
	background-image: url(/images/decorator-left.png);
	background-repeat: no-repeat;
	background-position: 0 45%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.h2.inner {
	background-image: url(/images/decorator-right.png);
	background-repeat: no-repeat;
	background-position: 100% 45%;
}

h3 {
	font-size: 36px;
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}

p.subtitle {
	font-size: 36px;
	line-height: 1.25;
	font-family: 'Bangers', cursive;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	p.subtitle {
		font-size: 46px;
	}
}

p.date, p.venue, p.location {
	font-weight: 500;
	line-height: 1;
	margin-bottom: 10px;
	margin-top: 0;
}

p.date {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1;
}

p.venue {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

p.description {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 40px;
}

a,
a:visited,
a:focus,
a:active {
	color: #4C4C4C;
	text-decoration: none;
	border-bottom: 3px solid #F2CF3D;
	padding-bottom: 2px;
}

a:hover,
a:visited:hover {
	color: #999999;
	text-decoration: none;
	border-bottom: 2px solid #D8BA3A;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	display: inline;
}

nav li:last-child::before{
	font-family: FontAwesome;
    content: "\f0e7";
    color: #F3DC3D;
    margin-left: 10px;
    margin-right: 10px;
}

nav.languages {
	margin-top: 40px;
	margin-bottom: 40px;
}

nav.languages span {
	color: #4C4C4C;
	font-weight: 500;
}

div.container {
	max-width: 768px;
}

div.intro {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

div.intro a, div.intro a:hover,
div.apply-link a, div.apply-link a:hover {
	border: 0;
}

div.content {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}

div.expert-item {
	margin-bottom: 40px;
}

div.expert-item p {
	margin-bottom: 10px;
}

div.apply-link {
	margin-bottom: 80px;
}

div.cookies {
	font-size: 14px;
	text-align: left;
	padding: 15px;
	padding-right: 40px;
	background: #ffffff;
	margin-top: -40px;
	color: #4C4C4C;
}

div.cookies .btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	background: yelow;
	font-size: 18px;
	cursor: pointer;
}

header {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

header a, header a:hover {
	border: 0;
}

header .logo {
	width: 75%;
	height: auto;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	header .logo {
		width: auto;
		height: auto;
	}
}

footer {
	border-top: 2px dotted #F3DC3D;
	padding-top: 40px;
	padding-bottom: 80px;
}

footer p {
	line-height: 1.5;
}

div.image {
	display: block;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background-size: cover;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.btn {
	border-radius: 0;
	border: none;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active {
	background-color: #F2CF3D;
	color: #333333;
	font-family: 'Bangers', cursive;
	line-height: 1;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-primary:hover,
.btn-primary:visited:hover,
.btn-primary:active:hover,
.btn-primary:link:hover,
.btn-primary:focus:hover {
	background-color: #FFDD4D;
	color: #4C4C4C;
}

.cta {
	font-size: 36px;
	transform: skew(-8deg);
}

.cta span {
	display: block;
	transform: skew(8deg);
}
