<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
	<title>{{ .Title }} :: {{ .Site.Title }}</title>
	
	{{ partial "head/meta.html" . }}
	{{ partial "head/css.html" . }}
</head>
<body>
<div class="container">
	<div>
		{{ partial "nav/languages.html" . }}
	</div>

	{{ partial "header.html" . }}

	<div class="content">
		<div class="h2 outer">
			<div class="h2 inner">
				<h2>{{ .Title }}</h2>
			</div>
		</div>

		{{ .Content }}
	</div><!-- /.content -->

	{{ if ne .Params.applyLink "" }}
		<div class="apply-link">
			<a class="btn btn-primary cta" href="{{ .Params.applyLink }}" title="{{ .Params.applyLabel }}">{{ .Params.applyLabel }}</a>
		</div>
	{{ end }}

	{{ partial "footer.html" . }}

</div><!-- /.container -->
</body>
</html>