<footer class="padding-top-md">
	<div class="row">
		<div class="col-sm-4">
			<p><b><i class="fa fa-copyright"></i> {{ .Site.Copyright }} {{ now.Format "2006" }}</b></p>
			<p><a href="{{ .Site.Params.copyrightWebsite }}" target="_blank">{{ .Site.Params.copyrightWebsite }}</a></p>
		</div>
		<div class="col-sm-4">
			<p><b>{{ .Site.Params.translations.venue }}</b></p>
			<p>{{ .Site.Params.translations.venueName }}<br>{{ .Site.Params.venueAddress }}</p>
		</div>
		<div class="col-sm-4">
			<p><b>{{ .Site.Params.translations.website }}</b></p>
			<p><a target="_blank" href="{{ .Site.Params.authorLink }}">{{ .Site.Params.author }}</a></p>
		</div>
		<div class="col-sm-12">
			<p><b>{{ .Site.Params.translations.social }}</b></p>
			<p><a class="icon" title="{{ .Site.Params.translations.facebookLinkTitle }}" href="{{ .Site.Params.facebook.event_url }}"><i class="fa fa-facebook-square"></i></a></p>
		</div>
	</div>
</footer>
