<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
	<title>{{ .Site.Title }} :: {{ .Site.Params.subtitle }}</title>	
	{{ partial "head/meta.html" . }}
	{{ partial "head/css.html" . }}
</head>
<body>
<div class="container">
	<div>
		{{ partial "nav/languages.html" . }}
	</div>

	{{ partial "header.html" . }}

	<div class="intro">
		<p class="description">{{ .Site.Params.description }}</p>
		<a href="./about" class="btn btn-primary cta"><span>{{ .Site.Params.translations.apply }}</span></a>
	</div>

	<div class="content">
		<div class="h2 outer">
			<div class="h2 inner">
				<h2>{{ .Site.Params.translations.experts }}</h2>
			</div>
		</div>
	
		<div class="expert-list">
			{{ range .Site.Pages }}
				{{ if eq .Section "experts" }}
				{{ if ne .Title "Experts" }}
					
					<div class="expert-item">
						<div class="image" style="background-image: url({{ .Params.image }})"></div>
						<h3>{{ .Title }}</h3>
						<p class="location">{{ .Params.location }}</p>
						<p class="bio">{{ .Content }}</p>
						<p class="web"><a href="{{ .Params.web }}" target="_blank" title="{{ .Title }}"><i class="fa 	fa-flash"></i></a></p>
					</div>
	
				{{ end }}
				{{ end }}
			{{ end }}
		</div>
	</div><!-- /.content -->

	{{ partial "footer.html" . }}

</div><!-- /.container -->
</body>
</html>